<div class="card mt-3 text-center">
  <div class="card-body">
    <%= render "form", category: @category %>
  </div>
</div>

<div class="mt-3 text-center">
  <%= link_to "Show this category", @category, class: "btn btn-primary" %> |
  <%= link_to "Back to categories", categories_path, class: "btn btn-secondary" %>
</div>
